.image-pane .view-pane, .image-pane .view-pane > .viewport, .image-pane .inner-view-pane {
    -fx-background-color: transparent;
}

#infoPane {
    -fx-padding: 5;
}

#infoPane .button {
    -fx-background-image: url("back_button.png");
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-pref-width: 30px;
    -fx-pref-height: 15px;
    -fx-cursor: hand;
}

.image-pane .label {
    -fx-text-fill: -fx-base-text-fill;
}

.image-pane .image-view {
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(148, 155, 146, 0.2), 2, 0.75, 0, 0);
}

.image-pane .button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-border-width: 1;
    -fx-border-color: rgba(215, 215, 215, 0.05);
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: rgba(195, 195, 195, 0.2);
    -fx-background-repeat: no-repeat;
}

#leftArrowButton {
    -fx-background-image: url("left_arrow.png");
    -fx-background-position: 14px 14px;
}

#rightArrowButton {
    -fx-background-image: url("right_arrow.png");
    -fx-background-position: 18px 14px;
}

#leftArrowButton:hover {
    -fx-background-image: url("left_arrow_hover.png");
    -fx-background-position: 14px 14px;
    -fx-background-color: rgba(225, 225, 225, 0.4);
}

#rightArrowButton:hover {
    -fx-background-image: url("right_arrow_hover.png");
    -fx-background-position: 18px 14px;
    -fx-background-color: rgba(225, 225, 225, 0.4);
}

.flow-views-pane {
    -fx-padding: 0 10 0 10;
}

.flow-views-pane, .flow-views-pane > .viewport, .flow-views-pane > .viewport .flow-pane {
    -fx-background-color: transparent;
}

